{% extends 'base.html.twig' %}

{% block title %}{{neptune.nom}}{% endblock %}

{% block body %}
<h1 class="text-center text-danger">{{neptune.nom}}</h1>

<div class="container">

  <div class="card mb-3">
    <img src="{{asset('uploads/photo/' ~ neptune.photo)}}" class="card-img-top"/>

    <div class="card-body">
        <h5 class="card-title text-center">Planète : {{neptune.planete}}</h5>
        <h5 class="card-title text-center">Découvreur : {{neptune.decouvreur}}</h5>
        <h5 class="card-title text-center">Date de découverte : {{neptune.date}}</h5>
      <h3 class="text-center">Description</h3>
      <p class="card-text">{{neptune.description}}</p>
    </div>
  </div>
{% endblock %}