{% extends 'base.html.twig' %}

{% block title %}Principaux satellites{% endblock %}

{% block body %}
<body style="background-image:url({{asset('image/universe.jpg')}}); background-size:cover;">
    <div class='container'>
        <br><br>

        <h1 class="text-center text-white"><strong>Principaux satellites du système solaire</strong></h1>

        {# DEBUT BOUTONS #}
        <div class="d-flex justify-content-evenly">
            <a type="button" class="btn btn-success m-5" href="#terre">Terre</a>
            <a type="button" class="btn btn-success m-5" href="#mars">Mars</a>
            <a type="button" class="btn btn-success m-5" href="#jupiter">Jupiter</a>
            <a type="button" class="btn btn-success m-5" href="#saturne">Saturne</a>
        </div>

        <div class="d-flex justify-content-evenly">
            <a type="button" class="btn btn-success m-5" href="#uranus">Uranus</a>
            <a type="button" class="btn btn-success m-5" href="#neptune">Neptune</a>
            <a type="button" class="btn btn-success m-5" href="#pluton">Pluton</a>
        </div>
        {# FIN BOUTONS #}

        {# DEBUT LUNE #}
        <h2 id="terre" class="text-center text-white"><strong>Terre</strong></h2>

        <div class="row">
            {% for lune in lune %}
                <div class="card col-md-5 mx-1 mt-5 card-lune" style="width:16.5rem">
                    <img class="card-img-top my-3" style="height:350px" src="{{asset('uploads/photo/' ~ lune.photo)}}">

                    <div class="card-body">
                        <h5 class="text-center card-title"><strong>{{lune.nom}}</strong></h5>

                        <a class="btn btn-primary text-center d-flex justify-content-evenly" href="{{path('app_single_lune', {id:lune.id})}}">En savoir plus</a>
                    </div>

                    {# EDIT ET DELETE #}
                    {% if is_granted ("ROLE_ADMIN") %}
                        <div class="d-flex p-3 justify-content-evenly">

                            <a 
                            class="btn btn-danger" 
                            href="{{ path('app_lune_delete',{id: lune.id}) }}"
                            onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce satellite ?')"
                            >Supprimer</a
                            >

                            <a
                            href="{{ path('app_lune_edit', { id: lune.id }) }}"
                            class="btn btn-warning"
                            >Modifier</a
                            >
                        </div>
                    {% endif %}
                    {# FIN EDIT ET DELETE #}
                </div>
            {% endfor %}
        </div>
        {# FIN LUNE #}

        <br><br>

        {# DEBUT MARS #}
        <h2 id="mars" class="text-center text-white"><strong>Mars</strong></h2>

        <div class="row">
            {% for mars in mars %}
                <div class="card col-md-5 mx-1 mt-5 card-mars" style="width:16.5rem">
                    <img class="card-img-top my-3" style="height:350px" src="{{asset('uploads/photo/' ~ mars.photo)}}">

                    <div class="card-body">
                        <h5 class="text-center card-title"><strong>{{mars.nom}}</strong></h5>

                        <a class="btn btn-primary text-center d-flex justify-content-evenly" href="{{path('app_single_mars', {id:mars.id})}}">En savoir plus</a>
                    </div>

                    {# EDIT ET DELETE #}
                    {% if is_granted ("ROLE_ADMIN") %}
                        <div class="d-flex p-3 justify-content-evenly">

                            <a 
                            class="btn btn-danger" 
                            href="{{ path('app_mars_delete',{id: mars.id}) }}" 
                            onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce satellite ?')"
                            >Supprimer</a
                            >

                            <a
                            href="{{ path('app_mars_edit', { id: mars.id }) }}"
                            class="btn btn-warning"
                            >Modifier</a
                            >
                        </div>
                    {% endif %}
                    {# FIN EDIT ET DELETE #}
                </div>
            {% endfor %}
        </div>
        {# FIN MARS #}

        <br><br>

        {# DEBUT JUPITER #}
        <h2 id="jupiter" class="text-center text-white"><strong>Jupiter</strong></h2>

        <div class="row">
            {% for jupiter in jupiter %}
                <div class="card col-md-5 mx-1 mt-5 card-jupiter" style="width:16.5rem">
                    <img class="card-img-top my-3" style="height:350px" src="{{asset('uploads/photo/' ~ jupiter.photo)}}">

                    <div class="card-body">
                        <h5 class="text-center card-title"><strong>{{jupiter.nom}}</strong></h5>

                        <a class="btn btn-primary text-center d-flex justify-content-evenly" href="{{path('app_single_jupiter', {id:jupiter.id})}}">En savoir plus</a>
                    </div>

                    {# EDIT ET DELETE #}
                    {% if is_granted ("ROLE_ADMIN") %}
                        <div class="d-flex p-3 justify-content-evenly">

                            <a 
                            class="btn btn-danger" 
                            href="{{ path('app_jupiter_delete',{id: jupiter.id}) }}" 
                            onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce satellite ?')"
                            >Supprimer</a
                            >

                            <a
                            href="{{ path('app_jupiter_edit', { id: jupiter.id }) }}"
                            class="btn btn-warning"
                            >Modifier</a
                            >
                        </div>
                    {% endif %}
                    {# FIN EDIT ET DELETE #}
                </div>
            {% endfor %}
        </div>
        {# FIN JUPITER #}

        <br><br>

        {# DEBUT SATURNE #}
        <h2 id="saturne" class="text-center text-white"><strong>Saturne</strong></h2>

        <div class="row">
            {% for saturne in saturne %}
                <div class="card col-md-5 mx-1 mt-5 card-saturne" style="width:16.5rem">
                    <img class="card-img-top my-3" style="height:350px" src="{{asset('uploads/photo/' ~ saturne.photo)}}">

                    <div class="card-body">
                        <h5 class="text-center card-title"><strong>{{saturne.nom}}</strong></h5>

                        <a class="btn btn-primary text-center d-flex justify-content-evenly" href="{{path('app_single_saturne', {id:saturne.id})}}">En savoir plus</a>
                    </div>

                    {# EDIT ET DELETE #}
                    {% if is_granted ("ROLE_ADMIN") %}
                        <div class="d-flex p-3 justify-content-evenly">

                            <a 
                            class="btn btn-danger" 
                            href="{{ path('app_saturne_delete',{id: saturne.id}) }}" 
                            onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce satellite ?')"
                            >Supprimer</a
                            >

                            <a
                            href="{{ path('app_saturne_edit', { id: saturne.id }) }}"
                            class="btn btn-warning"
                            >Modifier</a
                            >
                        </div>
                    {% endif %}
                    {# FIN EDIT ET DELETE #}
                </div>
            {% endfor %}
        </div>
        {# FIN SATURNE #}

        <br><br>

        {# DEBUT URANUS #}
        <h2 id="uranus" class="text-center text-white"><strong>Uranus</strong></h2>

        <div class="row">
            {% for uranus in uranus %}
                <div class="card col-md-5 mx-1 mt-5 card-uranus" style="width:16.5rem">
                    <img class="card-img-top my-3" style="height:350px" src="{{asset('uploads/photo/' ~ uranus.photo)}}">

                    <div class="card-body">
                        <h5 class="text-center card-title"><strong>{{uranus.nom}}</strong></h5>

                        <a class="btn btn-primary text-center d-flex justify-content-evenly" href="{{path('app_single_uranus', {id:uranus.id})}}">En savoir plus</a>
                    </div>

                    {# EDIT ET DELETE #}
                    {% if is_granted ("ROLE_ADMIN") %}
                        <div class="d-flex p-3 justify-content-evenly">

                            <a 
                            class="btn btn-danger" 
                            href="{{ path('app_uranus_delete',{id: uranus.id}) }}" 
                            onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce satellite ?')"
                            >Supprimer</a
                            >

                            <a
                            href="{{ path('app_uranus_edit', { id: uranus.id }) }}"
                            class="btn btn-warning"
                            >Modifier</a
                            >
                        </div>
                    {% endif %}
                    {# FIN EDIT ET DELETE #}
                </div>
            {% endfor %}
        </div>
        {# FIN URANUS #}

        <br><br>

        {# DEBUT NEPTUNE #}
        <h2 id="neptune" class="text-center text-white"><strong>Neptune</strong></h2>

        <div class="row">
            {% for neptune in neptune %}
                <div class="card col-md-5 mx-1 mt-5 card-neptune" style="width:16.5rem">
                    <img class="card-img-top my-3" style="height:350px" src="{{asset('uploads/photo/' ~ neptune.photo)}}">

                    <div class="card-body">
                        <h5 class="text-center card-title"><strong>{{neptune.nom}}</strong></h5>

                        <a class="btn btn-primary text-center d-flex justify-content-evenly" href="{{path('app_single_neptune', {id:neptune.id})}}">En savoir plus</a>
                    </div>

                    {# EDIT ET DELETE #}
                    {% if is_granted ("ROLE_ADMIN") %}
                        <div class="d-flex p-3 justify-content-evenly">

                            <a 
                            class="btn btn-danger" 
                            href="{{ path('app_neptune_delete',{id: neptune.id}) }}" 
                            onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce satellite ?')"
                            >Supprimer</a
                            >

                            <a
                            href="{{ path('app_neptune_edit', { id: neptune.id }) }}"
                            class="btn btn-warning"
                            >Modifier</a
                            >
                        </div>
                    {% endif %}
                    {# FIN EDIT ET DELETE #}
                </div>
            {% endfor %}
        </div>
        {# FIN NEPTUNE #}

        <br><br>

        {# DEBUT CHARON / PLUTON #}
        <h2 id="pluton" class="text-center text-white"><strong>Pluton</strong></h2>

        <div class="row">
            {% for charon in charon %}
                <div class="card col-md-5 mx-1 mt-5 card-charon" style="width:16.5rem">
                    <img class="card-img-top my-2" style="height:350px" src="{{asset('uploads/photo/' ~ charon.photo)}}">

                    <div class="card-body">
                        <h5 class="text-center card-title"><strong>{{charon.nom}}</strong></h5>

                        <a class="btn btn-primary text-center d-flex justify-content-evenly" href="{{path('app_single_charon', {id:charon.id})}}">En savoir plus</a>
                    </div>

                    {# EDIT ET DELETE #}
                    {% if is_granted ("ROLE_ADMIN") %}
                        <div class="d-flex p-3 justify-content-evenly">

                            <a 
                            class="btn btn-danger" 
                            href="{{ path('app_charon_delete',{id: charon.id}) }}" 
                            onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce satellite ?')"
                            >Supprimer</a
                            >

                            <a
                            href="{{ path('app_charon_edit', { id: charon.id }) }}"
                            class="btn btn-warning"
                            >Modifier</a
                            >
                        </div>
                    {% endif %}
                    {# FIN EDIT ET DELETE #}
                </div>
            {% endfor %}
        </div>
        {# FIN CHARON / PLUTON #}
    </div>
</body>
    <br>
{% endblock %}