{% extends 'base.html.twig' %}

{% block title %}{{lune.nom}}{% endblock %}

{% block body %}
  <section style="background-image:url({{asset('image/soloUniverse.jpg')}}); background-attachment:fixed;">

    <br>

    <h1 class="text-center text-danger"><strong>{{lune.nom}}</strong></h1>

    <br>

    <div class="container">
      <div class="card mb-3">
        <img src="{{asset('uploads/photo/' ~ lune.photo)}}" class="card-img-top"/>

        <div class="card-body">
          {# <h5 class="card-title text-center">Planète : {{lune.planete}}</h5> #}
          <br>
          <h5 class="card-title text-center">Découvreur : {{lune.decouvreur}}</h5>
          <h5 class="card-title text-center">Date de découverte : {{lune.date}}</h5>
          <br>
          <h3 class="text-center">Description</h3>
          <br>
          <p class="card-text ">{{lune.description|nl2br}}</p>
        </div>
      </div>
    </div>
{% endblock %}