{% extends 'base.html.twig' %}

{% block title %}{{charon.nom}}{% endblock %}

{% block body %}
<h1 class="text-center text-danger">{{charon.nom}}</h1>

<div class="container">

  <div class="card mb-3">
    <img src="{{asset('uploads/photo/' ~ charon.photo)}}" class="card-img-top"/>

    <div class="card-body">
        <h5 class="card-title text-center">Planète : {{charon.planete}}</h5>
        <h5 class="card-title text-center">Découvreur : {{charon.decouvreur}}</h5>
        <h5 class="card-title text-center">Date de découverte : {{charon.date}}</h5>
      <h3 class="text-center">Description</h3>
      <p class="card-text">{{charon.description}}</p>
    </div>
  </div>
{% endblock %}