<nav class="navbar navbar-expand-lg navbar bg-primary">
  <div class="container-fluid">
    {# <a class="navbar-brand" href="#">Navbar</a> #}
    <button class="navbar-toggler navbar-light bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('app_home')}}"><i class="fa-solid fa-house"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{path('app_all_planets')}}">Planètes du système solaire</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{path('app_all_moons')}}">Principaux satellites naturels</a>
        </li>

        {# SEUL L'ADMIN PEUT VOIR CI-DESSOUS #}
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{path('app_rocheuse')}}">Ajouter une planète rocheuse</a></li>

            <li><a class="dropdown-item" href="{{path('app_gazeuse')}}">Ajouter une planète gazeuse</a></li>

            <li><a class="dropdown-item" href="{{path('app_pluton')}}">Ajouter Pluton</a></li>

            <li><hr class="dropdown-divider"></li>

            <li><a class="dropdown-item" href="{{path('app_lune')}}">Ajouter un satellite de la Terre</a></li>

            <li><a class="dropdown-item" href="{{path('app_mars')}}">Ajouter un satellite de Mars</a></li>

            <li><a class="dropdown-item" href="{{path('app_jupiter')}}">Ajouter un satellite de Jupiter</a></li>

            <li><a class="dropdown-item" href="{{path('app_saturne')}}">Ajouter un satellite de Saturne</a></li>

            <li><a class="dropdown-item" href="{{path('app_uranus')}}">Ajouter un satellite d'Uranus</a></li>

            <li><a class="dropdown-item" href="{{path('app_neptune')}}">Ajouter un satellite de Neptune</a></li>

            <li><a class="dropdown-item" href="{{path('app_charon')}}">Ajouter un satellite de Pluton</a></li>

            <li><hr class="dropdown-divider"></li>

            <li><a class="dropdown-item" href="{{path('app_admin_all_planets')}}">Gestion des planètes</a></li>

            <li><a class="dropdown-item" href="{{path('app_admin_all_moons')}}">Gestion des lunes</a></li>
            
            <li><hr class="dropdown-divider"></li>

            <li><a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>